server {
  listen 80;

  server_name ${NGINX_HOST};
  root /usr/share/nginx/html;

  location ~ /.well-known/acme-challenge {
    allow all;
  }

  location / {
    return 301 https://$server_name$request_uri;
  }

  access_log /dev/null;
  error_log  /dev/null crit;
}

server {
  listen 80 default_server;
  server_name _;
  return 444; # "Connection closed without response"
}

